{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  rules: {
    "indentation": [ 2, "tab" ],
  },
  "syntax": "scss"
}